<%- include('../layouts/header.ejs',{userId:userId}) %>

    <div class="slider-banner-area header-border-top-1 pt-15">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="slider-active swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="intro-section slider-height-2 slider-content-center bg-img single-animation-wrap slider-bg-color-3"
                                    style="background-image:url(/user/images/slider/slider-bg-3.jpg)">
                                    <div class="hm2-slider-animation">
                                        <div class="slider-content-2 slider-content-2-mrg slider-animated-3">
                                            <h3 class="animated">Up To 40% Off</h3>
                                            <h1 class="font-inc animated">Summer <br>Collection</h1>
                                            <div class="slider-btn-2 btn-hover">
                                                <a href="/shop?category=65dc407df0db50312e2938f9"
                                                    class="btn hover-border-radius theme-color animated">
                                                    Shop Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro-section slider-height-2 slider-content-center bg-img single-animation-wrap slider-bg-color-3"
                                    style="background-image:url(/user/images/slider/slider-bg-3-2.jpg)">
                                    <div class="hm2-slider-animation">
                                        <div class="slider-content-2 slider-content-2-mrg slider-animated-3">
                                            <h3 class="animated">Up To 40% Off</h3>
                                            <h1 class="font-inc animated">Summer <br>Collection</h1>
                                            <div class="slider-btn-2 btn-hover">
                                                <a href="/shop?category=65dc407df0db50312e2938f9"
                                                    class="btn hover-border-radius theme-color animated">
                                                    Shop Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="home-slider-prev2 main-slider-nav2"><i class="fa fa-angle-left"></i></div>
                            <div class="home-slider-next2 main-slider-nav2"><i class="fa fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="banner-wrap banner-wrap-margin">
                        <a href="/product-details?id=65df3e1b7cf421b13489746f"><img src="/user/images/banner/banner-10.png" alt=""></a>
                        <div class="banner-content-7">
                            <h2>Exceptional</h2>
                            <span>Indoor Chair</span>
                        </div>
                        <div class="btn-style-4">
                            <a class="btn" href="/product-details?id=65df3e1b7cf421b13489746f">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-area pt-100 pb-65">
        <div class="container">
            <div class="section-title-2 border-none text-center mb-15" data-aos="fade-up" data-aos-delay="200">
                <h2>Hot Categories</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                        <a href="/shop?category=65dc407df0db50312e2938f9"><img src="/user/images/banner/banner-1.png" alt=""></a>
                        <div class="banner-content-1">
                            <h5>new arrival</h5>
                            <h3>Indoor Furniture</h3>
                            <div class="banner-btn">
                                <a href="/shop?category=65dc407df0db50312e2938f9">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="400">
                        <a href="/shop?category=65d6fbc6080601eb25d1e8a4"><img src="/user/images/banner/banner-2.png" alt=""></a>
                        <div class="banner-content-1">
                            <h5>new arrival</h5>
                            <h3>Outdoor Furniture</h3>
                            <div class="banner-btn">
                                <a href="/shop?category=65d6fbc6080601eb25d1e8a4">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="600">
                        <a href="/shop?category=65dc8545a24c1e8a6f7c7b63"><img src="/user/images/banner/banner-3.png" alt=""></a>
                        <div class="banner-content-1">
                            <h5>new arrival</h5>
                            <h3>Bedroom Furniture</h3>
                            <div class="banner-btn">
                                <a href="/shop?category=65dc8545a24c1e8a6f7c7b63">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-area pb-60">
        <div class="container">
            <div class="section-title-2 border-none text-center mb-15" data-aos="fade-up" data-aos-delay="200">
                <h2>Hot Products</h2>
            </div>
            <div class="tab-style-1 tab-style-1-margin tab-border-none tab-center nav mb-55" data-aos="fade-up"
                data-aos-delay="400">
                <a href="#pro-1" data-bs-toggle="tab">All Items </a>
                <a href="#pro-2" class="active" data-bs-toggle="tab">New Arrivals </a>
                <a href="#pro-3" data-bs-toggle="tab" class=""> Best Sellers </a>
                <a href="#pro-4" data-bs-toggle="tab" class=""> Sale Items </a>
            </div>
            <div class="tab-content jump">
                <div id="pro-1" class="tab-pane">
                    <div class="row">
                        <% allItems.forEach(product=> { %>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                <div class="product-wrap mb-35">
                                    <div class="product-img img-zoom mb-25">
                                        <a href="/product-details?<%=product._id %>">
                                            <img src="/productAssets/<%= product.images[0] %>" alt="<%=product.name%>">
                                        </a>
                                        <!-- <div class="product-badge badge-top badge-right badge-pink">
                                                <span><%= product.productPrice %></span>
                                            </div> -->
                                        <div class="product-action-wrap">
                                            <button class="product-action-btn-1 add-to-wishlist-btn"
                                                data-product-id="<%= product._id %>" title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <!-- <button class="product-action-btn-1" title="Quick View"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="pe-7s-look"></i>
                                            </button> -->
                                        </div>
                                        <div class="product-action-2-wrap">
                                            <button class="product-action-btn-2 add-to-cart-btn"
                                                data-product-id="<%= product._id %>" title="Add To Cart">
                                                <i class="pe-7s-cart"></i> Add to cart
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="/product-details?<%=product._id %>">
                                                <%=product.productName %>
                                            </a></h3>
                                        <div class="product-price">
                                            <span class="old-price">₹ <%=( product.productPrice
                                                    +(product.productPrice*(10/100)) ).toFixed(0)%> </span>
                                            <span class="new-price">₹ <%=product.productPrice %> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>

                <div id="pro-2" class="tab-pane active">
                    <div class="row">
                        <% newArrivals.forEach(product=> { %>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                <div class="product-wrap mb-35" data-aos="fade-up"
                                    data-aos-delay="<%= product.delay %>">
                                    <div class="product-img img-zoom mb-25">
                                        <a href="/product-details?id=<%=product._id %>">
                                            <img src="/productAssets/<%= product.images[0] %>"
                                                alt="<%= product.name %>">
                                        </a>
                                        <!-- <div class="product-badge badge-top badge-right badge-pink">
                                            <span><%= product.productPrice %></span>
                                        </div> -->
                                        <div class="product-action-wrap">
                                            <button class="product-action-btn-1 add-to-wishlist-btn"
                                                data-product-id="<%= product._id %>" title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <!-- <button class="product-action-btn-1" title="Quick View"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="pe-7s-look"></i>
                                            </button> -->
                                        </div>
                                        <div class="product-action-2-wrap">
                                            <button class="product-action-btn-2 add-to-cart-btn"
                                                data-product-id="<%= product._id %>" title="Add To Cart">
                                                <i class="pe-7s-cart"></i> Add to cart
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="product-details">
                                                <%= product.productName %>
                                            </a></h3>
                                        <div class="product-price">
                                            <span class="old-price">₹ <%=( product.productPrice
                                                    +(product.productPrice*(10/100)) ).toFixed(0)%> </span>
                                            <span class="new-price">₹ <%= product.productPrice %> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>

                <div id="pro-3" class="tab-pane">
                    <div class="row">
                        <% bestSellers.forEach(product=> { %>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                <div class="product-wrap mb-35">
                                    <div class="product-img img-zoom mb-25">
                                        <a href="/product-details?id=<%=product._id %>">
                                            <img src="/productAssets/<%= product.images[0] %>"
                                                alt="<%= product.name %>">
                                        </a>
                                        <!-- <div class="product-badge badge-top badge-right badge-pink">
                                            <span><%= product.productPrice %></span>
                                        </div> -->
                                        <div class="product-action-wrap">
                                            <button class="product-action-btn-1 add-to-wishlist-btn"
                                                data-product-id="<%= product._id %>" title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <!-- <button class="product-action-btn-1" title="Quick View"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="pe-7s-look"></i>
                                            </button> -->
                                        </div>
                                        <div class="product-action-2-wrap">
                                            <button class="product-action-btn-2 add-to-cart-btn"
                                                data-product-id="<%= product._id %>" title="Add To Cart">
                                                <i class="pe-7s-cart"></i> Add to cart
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="product-details">
                                                <%= product.productName %>
                                            </a></h3>
                                        <div class="product-price">
                                            <span class="old-price">₹ <%=( product.productPrice
                                                    +(product.productPrice*(10/100)) ).toFixed(0)%> </span>
                                            <span class="new-price">₹ <%= product.productPrice %> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>

                <div id="pro-4" class="tab-pane">
                    <div class="row">
                        <% saleItems.forEach(product=> { %>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                <div class="product-wrap mb-35">
                                    <div class="product-img img-zoom mb-25">
                                        <a href="/product-details?id=<%=product._id %>">
                                            <img src="/productAssets/<%= product.images[0] %>"
                                                alt="<%= product.name %>">
                                        </a>
                                        <!-- <div class="product-badge badge-top badge-right badge-pink">
                                            <span><%= product.productPrice %></span>
                                        </div> -->
                                        <div class="product-action-wrap">
                                            <button class="product-action-btn-1 add-to-wishlist-btn"
                                                data-product-id="<%= product._id %>" title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <!-- <button class="product-action-btn-1" title="Quick View"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="pe-7s-look"></i>
                                            </button> -->
                                        </div>
                                        <div class="product-action-2-wrap">
                                            <button class="product-action-btn-2 add-to-cart-btn"
                                                data-product-id="<%= product._id %>" title="Add To Cart">
                                                <i class="pe-7s-cart"></i> Add to cart
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="product-details?id=<%=product._id %>">
                                                <%= product.productName %>
                                            </a></h3>
                                        <div class="product-price">
                                            <span class="old-price">₹ <%=( product.productPrice
                                                    +(product.productPrice*(10/100)) ).toFixed(0)%> </span>
                                            <span class="new-price">₹ <%= product.productPrice %> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="banner-area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                        <a href="product-details"><img src="/user/images/banner/banner-11.png" alt=""></a>
                        <div class="banner-content-8 banner-position-1">
                            <span class="border-left">Up To 50% Off</span>
                            <h2 class="h2-width">New Furniture Sofa Set</h2>
                            <div class="btn-style-5 btn-hover">
                                <a class="btn theme-color" href="product-details">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="400">
                        <a href="product-details"><img src="/user/images/banner/banner-12.png" alt=""></a>
                        <div class="banner-content-8 text-center banner-position-2">
                            <span class="border-left-right">Up To 50% Off</span>
                            <h2 class="font-dec">New Furniture <br>Sofa Set</h2>
                            <div class="btn-style-5 btn-hover">
                                <a class="btn theme-color" href="product-details">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="testimonial-area pb-100">
            <div class="container">
                <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
                    <h2>Testimonial</h2>
                </div>
                <div class="testimonial-active swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-testimonial" data-aos="fade-up" data-aos-delay="200">
                                <div class="testimonial-img">
                                    <img src="/user/images/testimonial/client-1.png" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore.</p>
                                <div class="testimonial-info">
                                    <h4>Amrita Sha</h4>
                                    <span> Our Client.</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonial" data-aos="fade-up" data-aos-delay="400">
                                <div class="testimonial-img">
                                    <img src="/user/images/testimonial/client-2.png" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore.</p>
                                <div class="testimonial-info">
                                    <h4>Andi Lane</h4>
                                    <span> Designer.</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonial" data-aos="fade-up" data-aos-delay="600">
                                <div class="testimonial-img">
                                    <img src="/user/images/testimonial/client-1.png" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore.</p>
                                <div class="testimonial-info">
                                    <h4>Ted Ellison</h4>
                                    <span> Developer.</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonial" data-aos="fade-up" data-aos-delay="800">
                                <div class="testimonial-img">
                                    <img src="/user/images/testimonial/client-2.png" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore.</p>
                                <div class="testimonial-info">
                                    <h4>Aliah Pitts</h4>
                                    <span> Customer.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- <div class="brand-logo-area pb-100">
            <div class="container">
                <div class="brand-logo-active swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="200">
                                <a href="#"><img src="/user/images/brand-logo/brand-logo-1.png" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="400">
                                <a href="#"><img src="/user/images/brand-logo/brand-logo-2.png" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="600">
                                <a href="#"><img src="/user/images/brand-logo/brand-logo-3.png" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="800">
                                <a href="#"><img src="/user/images/brand-logo/brand-logo-4.png" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="1000">
                                <a href="#"><img src="/user/images/brand-logo/brand-logo-5.png" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="1200">
                                <a href="#"><img src="/user/images/brand-logo/brand-logo-1.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <div class="product-area pb-90" style="height: 80%;">
        <div class="container">
            <div class="section-border section-border-margin-1" data-aos="fade-up" data-aos-delay="200">
                <div class="section-title-timer-wrap bg-white">
                    <div class="section-title-1">
                        <h2>Deal Of The Day</h2>
                    </div>
                    <div id="timer-1-active" class="timer-style-1">
                        <span>End In: </span>
                        <div data-countdown="2024/03/30"></div>
                    </div>
                </div>
            </div>
            <div class="product-slider-active-1 swiper-container">
                <div class="swiper-wrapper">
                    <% allItems.forEach(product=>{ %>
                        <div class="swiper-slide">
                            <div class="product-wrap" data-aos="fade-up" data-aos-delay="200">

                                <div class="product-img img-zoom mb-25">
                                    <a href="product-details?id=<%=product._id %>">
                                        <img src="/productAssets/<%= product.images[0] %>"
                                            alt="<%= product.productName %>">
                                    </a>

                                    <div class="product-action-wrap">
                                        <button class="product-action-btn-1 add-to-wishlist-btn"
                                            data-product-id="<%= product._id %>" title="Wishlist"><i
                                                class="pe-7s-like"></i></button>
                                        <!-- <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            <i class="pe-7s-look"></i>
                                        </button> -->
                                    </div>
                                    <div class="product-action-2-wrap">
                                        <button class="product-action-btn-2 add-to-cart-btn"
                                            data-product-id="<%= product._id %>" title="Add To Cart">
                                            <i class="pe-7s-cart"></i> Add to cart
                                        </button>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="product-details">
                                            <%= product.productName %>
                                        </a></h3>
                                    <div class="product-price">
                                        <span class="old-price">₹ <%=( product.productPrice
                                                +(product.productPrice*(10/100)) ).toFixed(0)%></span>
                                        <span class="new-price">₹ <%= product.productPrice %></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <% }); %>

                </div>
                <div class="product-prev-1 product-nav-1" data-aos="fade-up" data-aos-delay="200"><i
                        class="fa fa-angle-left"></i></div>
                <div class="product-next-1 product-nav-1" data-aos="fade-up" data-aos-delay="200"><i
                        class="fa fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <!-- <div class="blog-area pb-70">
            <div class="container">
                <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
                    <h2>Latest News</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-img-date-wrap mb-25">
                                <div class="blog-img">
                                    <a href="blog-details"><img src="/user/images/blog/blog-1.png" alt=""></a>
                                </div>
                                <div class="blog-date">
                                    <h5>05 <span>May</span></h5>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Furniture</a>,</li>
                                        <li>By:<a href="#"> Admin</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-details">Lorem ipsum dolor consectet.</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor incididunt ut labo et dolore magna aliqua.</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="btn hover-border-radius theme-color" href="blog-details">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-wrap mb-30" data-aos="fade-up" data-aos-delay="400">
                            <div class="blog-img-date-wrap mb-25">
                                <div class="blog-img">
                                    <a href="blog-details"><img src="/user/images/blog/blog-2.png" alt=""></a>
                                </div>
                                <div class="blog-date">
                                    <h5>06 <span>May</span></h5>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Furniture</a>,</li>
                                        <li>By:<a href="#"> Admin</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-details">Duis et volutpat pellentesque.</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor incididunt ut labo et dolore magna aliqua.</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="btn hover-border-radius theme-color" href="blog-details">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-wrap mb-30" data-aos="fade-up" data-aos-delay="600">
                            <div class="blog-img-date-wrap mb-25">
                                <div class="blog-img">
                                    <a href="blog-details"><img src="/user/images/blog/blog-3.png" alt=""></a>
                                </div>
                                <div class="blog-date">
                                    <h5>07 <span>May</span></h5>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Furniture</a>,</li>
                                        <li>By:<a href="#"> Admin</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-details">Vivamus vitae dolor convallis.</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor incididunt ut labo et dolore magna aliqua.</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="btn hover-border-radius theme-color" href="blog-details">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <footer class="footer-area">
        <div class="bg-gray-2">
            <div class="container">
                <div class="footer-top pt-80 pb-35">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-about mb-40">
                                <div class="footer-logo">
                                    <a href="index"><img src="/user/images/logo/logo.png" alt="logo"></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, cons adipi elit, sed do eiusmod tempor incididunt ut
                                    aliqua.</p>
                                <div class="payment-img">
                                    <a href="#"><img src="/user/images/icon-img/payment.png" alt="logo"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-widget-margin-1 footer-list mb-40">
                                <h3 class="footer-title">Information</h3>
                                <ul>
                                    <li><a href="about-us">About Us</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Customer Service</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-list mb-40">
                                <h3 class="footer-title">My Accound</h3>
                                <ul>
                                    <li><a href="profile">My Account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="wishlist">Wish List</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                    <li><a href="#">Order History</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-widget-margin-2 footer-address mb-40">
                                <h3 class="footer-title">Get in touch</h3>
                                <ul>
                                    <li><span>Address: </span>Your address goes here </li>
                                    <li><span>Telephone Enquiry:</span> (012) 345 6789</li>
                                    <li><span>Email: </span>demo@example.com</li>
                                </ul>
                                <div class="open-time">
                                    <p>Open : <span>8:00 AM</span> - Close : <span>18:00 PM</span></p>
                                    <p>Saturday - Sunday : Close</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray-3">
            <div class="container">
                <div class="footer-bottom copyright text-center bg-gray-3">
                    <p>Copyright ©2024 All rights reserved | Made with <i class="fa fa-heart"></i> <a href=""> </a>.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Product Modal start -->
    <div class="modal fade quickview-modal-style" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close"><i class=" ti-close "></i></a>
                </div>
                <div class="modal-body">
                    <div class="row gx-0">
                        <div class="col-lg-5 col-md-5 col-12">
                            <div class="modal-img-wrap">
                                <img src="/user/images/product/quickview.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-12">
                            <div class="product-details-content quickview-content">
                                <h2>New Modern Chair</h2>
                                <div class="product-details-price">
                                    <span class="old-price">₹ 25.89 </span>
                                    <span class="new-price">₹ 20.25</span>
                                </div>
                                <div class="product-details-review">
                                    <div class="product-rating">
                                        <i class=" ti-star"></i>
                                        <i class=" ti-star"></i>
                                        <i class=" ti-star"></i>
                                        <i class=" ti-star"></i>
                                        <i class=" ti-star"></i>
                                    </div>
                                    <span>( 1 Customer Review )</span>
                                </div>
                                <div class="product-color product-color-active product-details-color">
                                    <span>Color :</span>
                                    <ul>
                                        <li><a title="Pink" class="pink" href="#">pink</a></li>
                                        <li><a title="Yellow" class="active yellow" href="#">yellow</a></li>
                                        <li><a title="Purple" class="purple" href="#">purple</a></li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare tincidunt
                                    neque vel semper. Cras placerat enim sed nisl mattis eleifend.</p>
                                <div class="product-details-action-wrap">
                                    <div class="product-quality">
                                        <input class="cart-plus-minus-box input-text qty text" name="qtybutton"
                                            value="1">
                                    </div>
                                    <div class="single-product-cart btn-hover">
                                        <a href="#">Add to cart</a>
                                    </div>
                                    <div class="single-product-wishlist">
                                        <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                                    </div>
                                    <div class="single-product-compare">
                                        <a title="Compare" href="#"><i class="pe-7s-shuffle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Modal end -->

    </div>
    <!-- All JS is here -->
    <script>
        document.querySelectorAll('.add-to-cart-btn').forEach(button => {
            button.addEventListener('click', function () {
                const productId = this.getAttribute('data-product-id');
                addToCart(productId);
            });
        });

        function addToCart(productId) {
            // Here you can implement your logic to add the product to the cart
            console.log('Adding product to cart:', productId);

            fetch('/add-to-cart', {
                method: 'POST',
                body: JSON.stringify({
                    productId: productId,
                    
                }),
                headers: {
                    'Content-Type': 'application/json',
                }
            }).then(response => {
                if (response.ok) {
                    $.toast({
                        heading: 'Success',
                        text: 'Product added to cart successfully',
                        position: 'top-center',
                        showHideTransition: 'slide',
                        icon: 'success'
                    })
                } else if (response.status === 401) {
                    $.toast({
                        heading: 'Error',
                        text: 'Maximum Quantity Per Order Reached',
                        showHideTransition: 'fade',
                        position: 'top-center',
                        icon: 'error'
                    })

                } else if (response.status === 405) {
                    $.toast({
                        heading: 'Error',
                        text: 'Insufficient stock available',
                        showHideTransition: 'fade',
                        position: 'top-center',
                        icon: 'error'
                    })
                } else {
                    $.toast({
                        heading: 'Error',
                        text: 'Error adding product to cart',
                        showHideTransition: 'fade',
                        position: 'top-center',
                        icon: 'error'
                    })

                }
                return response.json()

            }).then(data => {
                let cartQuantity = data.cartQty;
                updateCartQuantity()
            }).catch(error => {
                console.error("Error adding product to cart:", error);
                $.toast({
                    heading: 'Error',
                    text: 'Error adding product to cart',
                    showHideTransition: 'fade',
                    position: 'top-center',
                    icon: 'error'
                })
            });
        }
        let cartQuantity = 0;

        // Function to update the cart quantity element
        function updateCartQuantity() {
            document.getElementById('cartItemCount').textContent = cartQuantity;
        }
    </script>
    <script>
        document.querySelectorAll('.add-to-wishlist-btn').forEach(button => {
            button.addEventListener('click', function () {
                const productId = this.getAttribute('data-product-id');
                addToWishlist(productId);
            });
        });

        function addToWishlist(productId) {
            // Here you can implement your logic to add the product to the wishlist
            console.log('Adding product to wishlist:', productId);

            fetch('/add-to-wishlist', {
                method: 'POST',
                body: JSON.stringify({
                    productId: productId
                }),
                headers: {
                    'Content-Type': 'application/json',
                }
            })
                .then(response => {
                    if (response.ok) {
                        $.toast({
                            heading: 'Added Successfully',
                            text: 'Product added to wishlist',
                            position: 'top-center',
                            showHideTransition: 'slide',
                            icon: 'success'
                        });
                    } else {
                        return response.json().then(data => {
                            if (data.message && data.message === "Product already exists in the wishlist") {
                                $.toast({
                                    heading: 'Failed to Add ',
                                    text: 'Product already exists in the wishlist',
                                    position: 'top-center',
                                    showHideTransition: 'slide',
                                    icon: 'error'
                                });
                            } else {
                                throw new Error('Failed to add product to wishlist');
                            }
                        });
                    }
                })
                .catch(error => {
                    console.error("Error adding product to wishlist:", error);
                    $.toast({
                        heading: 'Error',
                        text: 'Error adding product to wishlist',
                        showHideTransition: 'fade',
                        position: 'top-center',
                        icon: 'error'
                    });
                });
        }

    </script>
    <%- include('../layouts/footer.ejs') %>