<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">


    <title>invoice with client info description amount and pay now button - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        body {
            margin-top: 20px;
            background: #f7d8bb;
        }

        .card-footer-btn {
            display: flex;
            align-items: center;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }

        .text-uppercase-bold-sm {
            text-transform: uppercase !important;
            font-weight: 500 !important;
            letter-spacing: 2px !important;
            font-size: .85rem !important;
        }

        .hover-lift-light {
            transition: box-shadow .25s ease, transform .25s ease, color .25s ease, background-color .15s ease-in;
        }

        .justify-content-center {
            justify-content: center !important;
        }

        .btn-group-lg>.btn,
        .btn-lg {
            padding: 0.8rem 1.85rem;
            font-size: 1.1rem;
            border-radius: 0.3rem;
        }

        .btn-dark {
            color: #fff;
            background-color: #1e2e50;
            border-color: #1e2e50;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(30, 46, 80, .09);
            border-radius: 0.25rem;
            box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        }

        .p-5 {
            padding: 3rem !important;
        }

        .card-body {
            flex: 1 1 auto;
            padding: 1.5rem 1.5rem;
        }

        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            border-color: inherit;
            border-style: solid;
            border-width: 0;
        }

        .table td,
        .table th {
            border-bottom: 0;
            border-top: 1px solid #edf2f9;
        }

        .table>:not(caption)>*>* {
            padding: 1rem 1rem;
            background-color: var(--bs-table-bg);
            border-bottom-width: 1px;
            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
        }

        .px-0 {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }

        .table thead th,
        tbody td,
        tbody th {
            vertical-align: middle;
        }

        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            border-color: inherit;
            border-style: solid;
            border-width: 0;
        }

        .mt-5 {
            margin-top: 3rem !important;
        }

        .icon-circle[class*=text-] [fill]:not([fill=none]),
        .icon-circle[class*=text-] svg:not([fill=none]),
        .svg-icon[class*=text-] [fill]:not([fill=none]),
        .svg-icon[class*=text-] svg:not([fill=none]) {
            fill: currentColor !important;
        }

        .svg-icon>svg {
            width: 1.45rem;
            height: 1.45rem;
        }
    </style>

</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

   
    <div style="padding-left:386px ;">
        <a class="btn btn-light btn-lg card-footer-btn  justify-content-center text-uppercase-bold-sm hover-lift-light"
            style="width:747px;" id="download" onclick="downloadInvoice()">
            Click here to Download
        </a>

    </div>
    <div class="container mt-6 mb-7" >
        <div class="row justify-content-center">
            <div class="col-lg-12 col-xl-7" id="invoice">
                <div class="card">
                    <div class="card-body p-5">
                        <h3>
                            Hey <%= orderDetails.user.name%>,
                        </h3>
                        <p class="fs-sm">
                            This is the invoice receipt for the order with a payment of  <strong>₹ <%= orderDetails.orderTotal%></strong> (Rupees) you made to <strong>Couch Cart.</strong>
                        </p>
                        <div class="border-top border-gray-200 pt-4 mt-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-muted mb-2">Order ID.</div>
                                    <strong>#<%= orderDetails.orderId%></strong>
                                </div>
                                <div class="col-md-6 text-md-end">
                                    <div class="text-muted mb-2">Payment Date</div>
                                    <strong><%= orderDetails.orderDate%></strong>
                                </div>
                            </div>
                        </div>
                        <div class="border-top border-gray-200 mt-4 py-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-muted mb-2">Client</div>
                                    <strong>
                                        <%= orderDetails.user.name%>
                                    </strong>
                                    <p class="fs-sm">
                                        <%= orderDetails.address.house%>,
                                        <%= orderDetails.address.street%>, <br>
                                        <%= orderDetails.address.city%>, <br>
                                        Country: <%= orderDetails.address.state%>, <br>
                                        ZIP Code: <%= orderDetails.address.pincode%>
                                        <br>
                                        <a href="#!" class="text-purple"><span class="__cf_email__"
                                                data-cfemail="442e2b2c2a042129252d286a272b29"><%= orderDetails.user.email%></span>
                                        </a>
                                    </p>
                                </div>
                                <div class="col-md-6 text-md-end">
                                    <div class="text-muted mb-2">Payment To</div>
                                    <strong>
                                        Couch Cart. Pvt.
                                    </strong>
                                    <p class="fs-sm">
                                    Suite 101
                                    Cityville, <br>
                                    ZIP Code: 12345 <br>
                                    Country: Ecomania 
                                        <br>
                                        <a href="#!" class="text-purple"><span class="__cf_email__"
                                                data-cfemail="7b0f131e161e083b1e161a121755181416">couchcart@gmail.com</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <table class="table border-bottom border-gray-200 mt-3">
                            <thead>
                                <tr>
                                    <th scope="col" class="fs-sm text-dark text-uppercase-bold-sm px-0">Products</th>
                                    <th scope="col" class="fs-sm text-dark text-uppercase-bold-sm px-0">Price</th>
                                    <th scope="col" class="fs-sm text-dark text-uppercase-bold-sm px-0">Quantity</th>
                                    <th scope="col" class="fs-sm text-dark text-uppercase-bold-sm text-end px-0">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orderDetails.orderProducts.forEach(order => { %>
                                    <tr>
                                        <td class="px-0"><%= order.product.productName%></td>
                                        <td class=" px-0">₹ <%= order.priceWithoutOffer.toLocaleString()%> </td>
                                        <td class="text-start px-0">x <%= order.quantity%></td>
                                        <td class="text-end px-0">₹ <%= (order.priceWithoutOffer * order.quantity).toLocaleString()%></td>
                                    </tr>
                                <% }) %>
                               
                            </tbody>
                        </table>
                        <div class="mt-5">
                            <div class="d-flex justify-content-end">
                                <p class="text-muted me-3">Product Discount:</p>
                                <span class="red-text">- ₹ <%= (orderDetails.totalOrderPriceWithoutOffer  - orderDetails.orderTotal ).toLocaleString()%></span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <p class="text-muted me-3">Subtotal:</p>
                                <span>₹ <%=(orderDetails.orderTotal).toLocaleString()%></span>
                            </div>
                            
                            <div class="d-flex justify-content-end">
                                <p class="text-muted me-3">Coupon Discount:</p>
                                <span class="red-text">- ₹ <%= (orderDetails.couponDiscount).toLocaleString()%></span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <p class="text-muted me-3">Delivery Charge:</p>
                                <span> ₹ <%= (deliveryCharge).toLocaleString()%></span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <p class="text-muted me-3">GST (18%):</p>
                                <span> ₹ <%= (taxAmount).toLocaleString()%></span>
                            </div>
                            <div class="d-flex justify-content-end mt-3">
                                <h5 class="me-3">Total:</h5>
                                <h5 class="text-success">₹ <%= (orderDetails.orderTotal  ).toLocaleString()%> (Rupees)</h5>
                            </div>
                        </div>
                    </div>
                    <style>
                        .red-text{
                            color: red;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
    <script>
        const downloadInvoice = function () {
             var content = document.getElementById('invoice').innerHTML;
 
             html2pdf()
             .set({
             margin: 0.5,
             filename: 'order-invoice.pdf',
             html2canvas: { scale: 2, useCORS: true },
             jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
         })
         .from(content)
         .save();
         };
     </script>
</body>
</body>

</html>